<button *ngIf="logged" (click)="onNewFunc()" class="btn-dark" type="button">Insert</button>
<div *ngIf="logged" class="list-group-item-primary">
  <div *ngFor="let element of category; let i = index">
    <input type="text" class="form-control" [(ngModel)]="category[i].name" placeholder="categoria" (change)="save(i)">
    
    <!-- Remove button -->
    <button type="button" class="btn" 
      (click)="onButtonRemove(i)">
      Del
    </button>
    
    
  </div>
</div>
<div class="alert alert-secondary" role="alert" *ngIf="message!==''">
  {{message}}
</div>