ul {
	list-style-type: none;
	padding-left: 0px;
}

ul li span.url { 
	float: left;
	width: 300px;
}

ul li span.pass { 
	float: left;
	width: 200px;
}

ul li span.date { 
	float: left;
	width: 100px;
}