<div class="d-flex">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <input 
          type="text" 
          class="form-control me-2"
          [ngModel]="textToSort" 
          (ngModelChange)="textChange($event)"
          (keydown)="onKeyDownAction($event)"
          (focus)="onFocusEventAction()" 
          (blur)="onBlurEventAction()"
          placeholder="Search" 
          aria-label="Search" />
      </div>  
    </div>
    <div class="row">
      <div class="col-sm">
        <ul class="list-group myList" *ngIf="showDropDown">
          <li *ngFor="let data of list; let i = index"
            (click)="updateTextBox(i)" 
            class="list-group-item"
            [ngClass]="{active:checkHighlight(i)}">{{data.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>