<!-- Username -->
<ng-container *ngIf="isUserNameState()">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <input (keyup.enter)="usernameEntered()" (change)="usernameEntered()" [(ngModel)]="loginService.userName"
          class="form-control" type="text" placeholder="Insert username" #userNameInput>
      </div>
    </div>
  </div>
</ng-container>

<!-- Password -->
<ng-container *ngIf="isPasswordState()">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <input (keyup.enter)="passwordEntered()" (change)="passwordEntered()" [(ngModel)]="loginService.userPassword"
          class="form-control" type="password" placeholder="Insert password" #passwordInput>
      </div>
      <div class="col-sm align-self-center">
        <input class="form-check-input" type="checkbox" id="keepMe" [(ngModel)]="loginService.keepMeLogged">
        <label class="form-check-label" for="keepMe" style="color: white; margin-left:10px " for="vehicle1"> Keep me
          logged</label>
      </div>
    </div>
  </div>
</ng-container>