<div class="d-flex">
  <div class="container searchContainer">
    <div>
      <div>
        <input
          #searchInput 
          type="text" 
          class="form-control me-2"
          [ngModel]="textToSort" 
          (ngModelChange)="textChange($event)"
          (keydown)="onKeyDownAction($event)"
          (focus)="onFocusEventAction()" 
          (blur)="onBlurEventAction()"
          placeholder="Search" 
          aria-label="Search" />
      </div>  
    </div>
    <div>
      <div #myList class="myList_sm" *ngIf="showDropDown">
        <ul class="list-group">
          <li *ngFor="let data of list; let i = index"
            (click)="clickOnElement(data.name)" 
            class="list-group-item"
            [ngClass]="{active:checkHighlight(i)}">{{data.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-size-detector></app-size-detector>