<div class="container-fluid">
  <div class="list-group">
    <div *ngFor="let element of webPassList; let i = index" 
      
      (click)="onSelect(element)">
      
      <!-- Expired -->
      <div class="row">
        <div class="col-sm-1" *ngIf="isExpired(i)">
          <span class="badge badge-danger">Expired</span>
        </div>
      </div>

      <!-- Button -->
      <div class="row">
        <div class="col">
          <button type="button" 
          class="list-group-item list-group-item-action {{isActive(element)}} {{webPassLabelStyle}}"
          (click)="openEditModal(i)">
            {{getUrl('name', i).value}}
          </button>
        </div>
        <div class="col GPassButtonGroup">
          <button 
            type="button"
            class="btn btn-primary {{webPassButtonStyle}}"
            ngxClipboard [cbContent]="getUrl('username', i).value" 
            (cbOnSuccess)="sendMessage('Username copied to clipboard')">Usr
          </button>
          <button 
            type="button"
            class="btn btn-primary {{webPassButtonStyle}}"
            ngxClipboard [cbContent]="getUrl('pass', i).value"
            (cbOnSuccess)="sendMessage('Password copied to clipboard')">Psw
          </button>
          <a 
            target="blank" 
            href="http://{{getUrl('url', i).value}}"
            *ngIf="getUrl('url', i).value != 'url'">
            <input 
              ngxClipboard [cbContent]="getUrl('username', i).value"
              type=button
              class="btn btn-success {{webPassButtonStyle}}"
              value="Go">
          </a>
          <button
            *ngIf="getUrl('url', i).value == 'url'"
            class="btn btn-secondary {{webPassButtonStyle}}"
          >Go
          </button>
          <button 
            type="button" 
            class="btn btn-danger {{webPassButtonStyle}}"
            (click)="delete(i)">Del
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<br>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage!==''">
  {{errorMessage}}
</div>
<app-progress-bar #progressBar></app-progress-bar>