.webPassButton-big {
  height: 54px;
  width: 54px;
  border: 1px;
  border-style: solid;
  border-color: rgb(204, 194, 194);
  border-radius: 9px;
}

.webPassButton-small {
  height: 40px;
  width: 40px;
  border: 1px;
  border-style: solid;
  border-color: rgb(204, 194, 194);
  border-radius: 9px;
  padding: .375rem .60em;
  font-size: 12px;
}

.webPassButtonGroup {
  padding-right: 5px;
  padding-left: 5px;
}

.webPassLabel-small {
  padding: .20rem 0.25rem;
  font-size: 20px;
}