<!-- <div style="text-align:center">
  <h1>
    {{ title | uppercase }}
  </h1>
</div>
<form>
  
  <div class="row">
    <div class="col">Url</div>
    <div class="col">Pass</div>
    <div class="col">Registration Date</div>
    <div class="col">Expiration Date</div>
  </div>
  
  <div class="row" *ngFor="let wpass of list">
    
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" value="{{wpass.url}}">
    </div>
    
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" value="{{wpass.pass}}">
    </div>
    
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" value="{{wpass.registeredDate}}">
    </div>
    
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" value={{wpass.expiriatonDate}}>
    </div>
    
  </div>
</form>

 -->
<app-web-pass-list></app-web-pass-list>