<app-navbar 
    #navbar
    [actionsQuery]='actionsQuery'
    (onToggle)="onToggle($event)"
    (routerNavigate)="onRouterNavigate($event)"
    (onRefresh)="onRefresh()"
    (onNewSignal)="onNew()"
    (onExportSignal)="onExport()"
    (onImportSignal)="onImport()"
    (deleteAllSignal)="deleteAll()"
    (plusOneYearAllSignal)="plusOneYearAll()"
    (logOutSignal)="logOut()"
    (testSignal)="test()"
    ></app-navbar>
<div class="loader" *ngIf="loading"></div>
<div class="routerOutlet" [style.padding-top.px]="routerOutletPaddingTop">
    <router-outlet (activate)="setRoutedComponent($event)"></router-outlet>
</div>
<br>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage!==''">
    {{errorMessage}}
</div>