<div *ngIf="true">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let element of list; let i = index" 
      [class.active]="isSelected(element)"
      (click)="onSelect(element)">

      <!-- Data -->
      <ng-content *ngIf="!elementTemplate"></ng-content>
      <ng-container
          *ngIf="elementTemplate"
          [ngTemplateOutlet]="elementTemplate"
          [ngTemplateOutletContext]="{listRet: list, index: list.indexOf(element)}"
      ></ng-container>
      
      <!-- Edit button -->
      <button type="button"
        class="btn"
        *ngIf="isSelected(element)"
        [class.btn-secondary]="!edit"
        [class.btn-dark]="edit"
        (click)="onButtonEdit()">
        Edit
      </button>

      <!-- Remove button -->
      <button type="button"
        class="btn"
        *ngIf="isSelected(element)"
        [class.btn-secondary]="!edit"
        [class.btn-dark]="edit"
        (click)="onButtonRemove(i)">
        Remove
      </button>
      
      <div 
        class="list-group-item-primary"
        *ngIf="edit && isSelected(element)">
        
        <ng-content *ngIf="!editTemplate"></ng-content>
        <ng-container
            *ngIf="editTemplate"
            [ngTemplateOutlet]="editTemplate"
            [ngTemplateOutletContext]="{listRet: list, index: list.indexOf(element)}"
        ></ng-container>

      </div>
    </li>
  </ul>
</div>
<br>
{{text}}
