List of website
<div *ngIf="true">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let element of list" 
      [class.active]="isSelected(element)"
      (click)="onSelect(element)">

      <!-- Data -->
      <app-web-pass-element [wpass]='element'></app-web-pass-element>
      
      <!-- Edit button -->
      <button type="button"
        class="btn"
        *ngIf="isSelected(element)"
        [class.btn-secondary]="!edit"
        [class.btn-dark]="edit"
        (click)="onButtonEdit()">
        Edit
      </button>

      <!-- Remove button -->
      <button type="button"
        class="btn"
        *ngIf="isSelected(element)"
        [class.btn-secondary]="!edit"
        [class.btn-dark]="edit"
        (click)="onButtonRemove(element)">
        Remove
      </button>

      <!-- Insert -->
      <button type="button"
        class="btn"
        *ngIf="isSelected(element)"
        [class.btn-secondary]="!edit"
        [class.btn-dark]="edit"
        (click)="onButtonInsert(element)">
        Insert
      </button>

      <!-- Up -->
      <button type="button"
        class="btn"
        *ngIf="isSelected(element) && isNotFirst(element)"
        [class.btn-secondary]="!edit"
        [class.btn-dark]="edit"
        (click)="onButtonUp(element)">
        Up
      </button>

      <!-- Down -->
      <button type="button"
        class="btn"
        *ngIf="isSelected(element) && isNotLast(element)"
        [class.btn-secondary]="!edit"
        [class.btn-dark]="edit"
        (click)="onButtonDown(element)">
        Down
      </button>
      
      <div 
        class="list-group-item-primary"
        *ngIf="edit && isSelected(element)">
        <app-web-pass-edit [webPass]='selectedWebPass'></app-web-pass-edit>
      </div>
    </li>
  </ul>
</div>
<br>
{{text}}
