<div>
  <label class="form-group">Url
    <input class="form-control" [(ngModel)]="webPass.url" placeholder="url">
  </label><br>
  <label >Password
    <input class="form-control" [(ngModel)]="webPass.pass" placeholder="pass">
  </label><br>
  <label >registration date:
    <input class="form-control" [(ngModel)]="webPass.registeredDate" placeholder="date">
  </label><br>
  <label >expiration date:
    <input class="form-control" [(ngModel)]="webPass.expiriatonDate" placeholder="date">
  </label>
</div>