<!-- Email -->
<ng-container *ngIf="isEmailState()">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <input (keyup.enter)="emailEntered()" (change)="emailEntered()" [(ngModel)]="email"
          class="form-control" type="text" placeholder="Insert email" #emailInput>
      </div>
    </div>
  </div>
</ng-container>

<!-- Password -->
<ng-container *ngIf="isPasswordState()">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <input (keyup.enter)="passwordEntered()" (change)="passwordEntered()" [(ngModel)]="userPassword"
          class="form-control" type="password" placeholder="Insert password" #passwordInput>
      </div>
    </div>
  </div>
</ng-container>