<input (change)="validate()" [(ngModel)]="old_chipher_password"        class="form-control" type="password" placeholder="Insert old master password">
<input (change)="validate()" [(ngModel)]="new_chipher_password"        class="form-control" type="password" placeholder="Insert new master password">
<input (change)="validate()" [(ngModel)]="repeat_new_chipher_password" class="form-control" type="password" placeholder="Retype new master password">
<button #buttonChange *ngIf="valid" (click)="onChangePass()" class="btn-dark" type="button">Change</button>
<div class="alert alert-danger mymessage" role="alert" *ngIf="(message!=='')" innerHTML={{message}}></div>
<div class="alert alert-success mymessage" role="alert" *ngIf="(serverAccess!=='')" innerHTML={{serverAccess}}></div>