<div class="container-fluid">
  <div class="list-group">
    <div *ngFor="let element of notesList; let i = index" (click)="onSelect(element)">

      <!-- Button -->
      <div class="row">
        <div class="col">
          <button type="button" class="list-group-item list-group-item-action {{isActive(element)}}"
            (click)="openEditModal(i)">
            {{element.title}}
          </button>
        </div>
        <div class="col">
          <button type="button" style="height: 54px; width: 54px; border: 2px; border-style: solid;
  border-color: rgb(204, 194, 194);" class="btn btn-danger" (click)="onButtonDelete(i)">Del
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<br>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage!==''">
  {{errorMessage}}
</div>
<app-progress-bar #progressBar></app-progress-bar>
