<div class="container-fluid">
  <div class="list-group">
    <div *ngFor="let element of notesList; let i = index" (click)="onSelect(element)">

      <!-- Button -->
      <div class="row">
        <div class="col">
          <button type="button" class="list-group-item list-group-item-action {{isActive(element)}} {{GPassLabelStyle}}"
            (click)="onEdit(i)">
            {{element.title}}
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-danger {{GPassButtonStyle}}" (click)="onButtonDelete(i)">Del
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<br>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage!==''">
  {{errorMessage}}
</div>
<app-progress-bar #progressBar></app-progress-bar>
