<!-- Template for each element in the list -->
<ng-template #elementTemplate let-index="index">
    <span class="col url">  {{list[index].url}}           </span>
    <span class="col pass"> {{list[index].pass}}          </span>
    <span class="col date" >{{list[index].registeredDate}}</span>
    <span class="col date"> {{list[index].expiriatonDate}}</span>
</ng-template>

<!-- Template for edit element -->
<ng-template #editTemplate let-index="index">
    <div>
        <label class="form-group">Url
          <input class="form-control" [(ngModel)]="list[index].url" placeholder="url">
        </label><br>
        <label >Password
          <input class="form-control" [(ngModel)]="list[index].pass" placeholder="pass">
        </label><br>
        <label >registration date:
          <input class="form-control" [(ngModel)]="list[index].registeredDate" placeholder="date">
        </label><br>
        <label >expiration date:
          <input class="form-control" [(ngModel)]="list[index].expiriatonDate" placeholder="date">
        </label>
      </div>
</ng-template>
  
<app-list
    [list]='list'
    [elementTemplate]="elementTemplate"
    [editTemplate]="editTemplate"
></app-list>