<input *ngIf="!logged" (change)="enter()" [(ngModel)]="chipher_password" class="form-control" type="password" placeholder="Insert master password">
<button *ngIf="logged" (click)="onNewFunc()" class="btn-dark" type="button">Insert</button>
<button *ngIf="logged" (click)="logOut()"    class="btn-dark">Logout</button>
<div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let element of list; let i = index" 
      [class.active]="isSelected(element)"
      (click)="onSelect(element)">

      <!-- Data -->
      <a class="{{getUrl('url', i).enabled}}" href="http://{{getUrl('url', i).value}}">{{getUrl('url', i).value}}</a>
      <br><br>
      
      <!-- Edit button -->
      <button type="button"
        class="btn"
        *ngIf="isSelected(element)"
        [class.btn-secondary]="!edit"
        [class.btn-dark]="edit"
        (click)="onButtonEdit()">
        Edit
      </button>

      <!-- Remove button -->
      <button type="button"
        class="btn"
        *ngIf="isSelected(element)"
        [class.btn-secondary]="!edit"
        [class.btn-dark]="edit"
        (click)="onButtonRemove(i)">
        Remove
      </button>

      <!-- Copy username -->
      <button type="button"
        class="btn"
        *ngIf="isSelected(element)"
        [class.btn-secondary]="!edit"
        [class.btn-dark]="edit"
        ngxClipboard [cbContent]="getUrl('username', i).value" (cbOnSuccess)="onCopyToClipboard('Username copied to clipboard')">
        Username
      </button>

      <!-- Copy password -->
      <button type="button"
        class="btn"
        *ngIf="isSelected(element)"
        [class.btn-secondary]="!edit"
        [class.btn-dark]="edit"
        ngxClipboard [cbContent]="getUrl('pass', i).value" (cbOnSuccess)="onCopyToClipboard('Password copied to clipboard')">
        Password
      </button>

      <div class="alert alert-primary" role="alert" *ngIf="(copyMessage!=='')&&(isSelected(element))">
        {{copyMessage}}
      </div>
      
      <div 
        class="list-group-item-primary"
        *ngIf="edit && isSelected(element)">
        
        <!-- Edit element -->
        <div>
          <label class="form-group">Url
            <input class="form-control" [(ngModel)]="list[i].url" placeholder="url" (change)="save(i)">
          </label><br>
          <label >Username
            <input class="form-control" [(ngModel)]="list[i].username" placeholder="username" (change)="save(i)">
          </label><br>
          <label >Password
            <input class="form-control" [(ngModel)]="list[i].pass" placeholder="pass" (change)="save(i)">
          </label><br>
          <label >Registration Date:
            <input class="form-control" [(ngModel)]="list[i].registrationDate" placeholder="date" (change)="save(i)">
          </label><br>
          <label >Expiration Date:
            <input class="form-control" [(ngModel)]="list[i].expirationDate" placeholder="date" (change)="save(i)">
          </label>
        </div>

      </div>
    </li>
  </ul>
</div>
<br>
{{errorMessage}}